<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Skelvia</title>
</head>
<body>
  <h1>All Users</h1>
  <table border="1">
    <thead>
      <tr>
        <th>Fullname</th>
        <th>Username</th>
        <th>Email</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% data.forEach(e => { %>
        <tr>
          <td><%= e.fullName %></td>
          <td><%= e.username %></td>
          <td><%= e.email %></td>
          <td>
            <a href="/allUsers/<%= e.id %>">Delete</a>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</body>
</html>