<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Skelvia</title>
</head>
<body>
  <nav>
    <a href="/login">Login</a> ||
    <a href="/register">Register</a>
    <% if (user) { %>
      <a href="/logout">Logout Bang</a> ||
      <a href="/myLectures">My Lectures</a>
    <% } %>
  </nav>
  <h1>Hello, <%= user ? user.fullName : 'Skelvians' %>!</h1>
  <p>Skelvia is a educational platform designed to bridge the gap between online courses, immersive bootcamps, and traditional form of education. It offers a highly curated, cohort-based learning experience where students can enroll in multiple classes with a maximum limit, ensuring focused and effective skill acquisition.</p>
</body>
</html>