<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Skelvia</title>
</head>
<body>
  <h1>Register</h1>
  <form action="/register" method="post">
    <label for="">Full Name</label>
    <input type="text" name="fullName">
    <br>
    <label for="">Username</label>
    <input type="text" name="username">
    <br>
    <label for="">Email</label>
    <input type="email" name="email">
    <br>
    <label for="">Password</label>
    <input type="password" name="password">
    <br>
    <button type="submit" value="SUBMIT">Register</button>
  </form>
</body>
</html>